<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>bxn-meeting</display-name>

    <context-param>
        <param-name>sitemesh.configfile</param-name>
        <param-value>/WEB-INF/application/decorator/sitemesh.xml</param-value>
    </context-param>
    <context-param>
        <param-name>bxnAutoConfigSecurity</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/application/base/applicationContext-common.xml,/WEB-INF/application/applicationContext.xml
        </param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/application/log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>log4jRefreshInterval</param-name>
        <param-value>6000</param-value>
    </context-param>
    <context-param> 
		<param-name>webAppRootKey</param-name> 
		<param-value>meeting.root</param-value>
	</context-param>
	<context-param>
	    <param-name>spring.profiles.default</param-name>
	    <param-value>development</param-value>
	</context-param>
	
	<listener> 
		<listener-class>cn.boxiao.bxn.common.web.EscapeXmlELResolverListener</listener-class> 
	</listener>

    <listener>
        <listener-class>cn.boxiao.bxn.common.boot.BxnContextLoaderListener</listener-class>
    </listener>
    <listener>  
        <listener-class>  
            org.springframework.web.context.request.RequestContextListener  
        </listener-class>  
	</listener> 
    <listener>
        <listener-class>
            org.springframework.web.util.Log4jConfigListener
        </listener-class>
    </listener>
	
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter>
        <filter-name>mobileAuthenticatedFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetBeanName</param-name>
            <param-value>mobileAuthenticatedBean</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>bxiEquipAuthenticationFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetBeanName</param-name>
            <param-value>bxiEquipAuthenticationFilterBean</param-value>
        </init-param>
    </filter>
	<filter>
		<filter-name>menuProxyFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>menuFilter</param-value>
		</init-param>
        <init-param>
			<param-name>contextAttribute</param-name>

			<param-value>org.springframework.web.context.WebApplicationContext.ROOT</param-value>
		</init-param>
        <init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
	<filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobileAuthenticatedFilter</filter-name>
        <url-pattern>/mobile/api/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>mobileAuthenticatedFilter</filter-name>
        <url-pattern>/upload</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>bxiEquipAuthenticationFilter</filter-name>
        <url-pattern>/api-equip/*</url-pattern>
    </filter-mapping> 
    <filter-mapping>
		<filter-name>menuProxyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>


    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/application/base/dispatcher-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>cn.boxiao.bxn.common.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUploadServlet</servlet-name>
        <servlet-class>cn.boxiao.bxn.common.servlet.ImageUploadServlet</servlet-class>
    </servlet>
    <servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>cn.boxiao.bxn.common.servlet.CommonDownloadServlet</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUploadServlet</servlet-name>
        <url-pattern>/imageUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!-- DELETE METHOD -->
    <filter>
    <filter-name>httpMethodFilter</filter-name>
    	<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
    	<filter-name>httpMethodFilter</filter-name>
    	<url-pattern>/webapi/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
    	<filter-name>httpMethodFilter</filter-name>
    	<url-pattern>/mobile/api/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
    	<filter-name>httpMethodFilter</filter-name>
    	<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	
	<!-- <filter-mapping>
    	<filter-name>httpMethodFilter</filter-name>
    	<url-pattern>/api-equip/*</url-pattern>
	</filter-mapping> -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <taglib>
            <taglib-uri>http://www.boxiao.cn/tags/cms</taglib-uri>
            <taglib-location>/WEB-INF/application/cms.tld</taglib-location>
        </taglib>
    </jsp-config>
    <error-page>
    	<error-code>404</error-code>
    	<location>/WEB-INF/pages/error/404.jsp</location>
    </error-page>
    <error-page>
    	<error-code>403</error-code>
    	<location>/WEB-INF/pages/error/403.jsp</location>
    </error-page>
    <error-page>
    	<error-code>500</error-code>
    	<location>/WEB-INF/pages/error/500.jsp</location>
    </error-page>
</web-app>